<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430624213057-vjvtf5bqc3l7oquqgrabnjt631654ucr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430624213057-vjvtf5bqc3l7oquqgrabnjt631654ucr</string>
	<key>API_KEY</key>
	<string>AIzaSyA2EJYkxCJwharkRvaOqvu_Nn9e2NV1_R0</string>
	<key>GCM_SENDER_ID</key>
	<string>430624213057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.Nibm-Events</string>
	<key>PROJECT_ID</key>
	<string>nibm-events-b5f69</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-events-b5f69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430624213057:ios:636ac676e7a9f90ede9ec0</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-events-b5f69.firebaseio.com</string>
</dict>
</plist>